*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Fredoka", sans-serif;
}

/* General */
.container{
    max-width:1200px;
    margin:auto;
}

.bg-dark{
    background-color:#0F0E17;
}

.float-left{
    float:left;
}

.clearfix::after{
    content:"";
    clear:both;
    display:table;
}



/* Header */
h1{
    color:#E53170;
    text-align:center;
    margin:40px 0;
}

h1:hover{
    text-shadow:1px 1px #a52c56;
}

/* main */

p{
    text-align:center;
}

.card{
    color:white;
    height:120px;
    background-color:black;
    width:calc(100% / 3 - 40px);
    margin:20px;
    box-shadow: 10px 10px 10px grey;
    
}

h3{
    padding:10px;
}

img{
    height:100%;
    margin-right:10px;
}

a{
    text-decoration:none;
    color:#5DC3E4;
    display:inline-block;
    margin-top:10px;
}



